@import "../base/variables";

.rootBody {
  font-family: $default;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;

  [data-theme="light"] & {
    background-color: $white;
    color: $gray-900;
  }

  [data-theme="dark"] & {
    background-color: $gray-900;
    color: $gray-100;
  }
}
